<ion-content>
  <ion-title class="ion-text-center" style="margin-top: 10%; font-size: 30px;">Choose phone</ion-title>
  <ion-grid style="width: 97%;">
    <ion-col size="12" >
      <form [formGroup]="signUpForm" (submit)="next()">
        <ion-item>
          <ion-input type="text" placeholder="Phone" formControlName="phone"></ion-input>
        </ion-item>
        <ion-list *ngIf="!check">
          <ion-item>
            <ion-icon name="close" color="danger"></ion-icon>
            <ion-label>This phone is being used by another user!</ion-label>
          </ion-item>
        </ion-list>
        <ion-button expand="block" style="margin-top: 2%;" type="submit" [disabled]="!signUpForm.valid">Next</ion-button>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>
