<ion-content>
  <ion-title class="ion-text-center" style="margin-top: 10%; font-size: 30px;">Choose avatar</ion-title>
  <ion-grid style="width: 97%;">
    <ion-row>
      <ion-avatar style="width: 50%; height: 50%; margin-left: 25%;" (click)="changeAvatar()">
        <ion-img src="../assets/icon/avatardefault_92824.png"></ion-img>
      </ion-avatar>
    </ion-row>
    <ion-row>
      <ion-button expand="block" style="width: 100%;" (click)="next()">Finish</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>